@import "../../palette/palette.css";

.navbar {
  height: 20vh;
  width: 100%;
  background-color: var(--firstia-dark);
  margin: 0;
  padding: 0;
  color: var(--thirdrema);
  position: sticky;
  top: 0;
  z-index: 999;
}
.navbar-top-half,
.navbar-bottom-half {
  min-height: 50%;
  border-bottom: 2px solid var(--secondil-dark);
}
.navbar-boxes {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  flex-direction: column !important;
  background-color: var(--firstia-dark);
}

.bar-icons {
  height: 1.7rem !important;
}

#logo {
  width: 4rem;
}
