@import "../../palette/palette.css";

.navbar {
  height: 20vh;
  width: 100%;
  background-color: var(--firstia-dark);
  margin: 0;
  padding: 0;
  color: var(--thirdrema);
}
.navbar-top-half,
.navbar-bottom-half {
  min-height: 50%;
  border-bottom: 2px solid var(--secondil-dark);
}
.navbar-boxes {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.logo {
  width: 60px;
}
