.cart-container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart-container p{
    display: flex;
    align-self: flex-start;
    border-radius: 1rem;
    background-color: red;
    font-size: 3vh;
}
