@import "../../palette/palette.css";
.caja {
  background-image: url("/img/tremendo-background.png");
  background-repeat: no-repeat;
  background-size: 65%;
  background-attachment: fixed;
  background-position-y: 80%;
  background-position-x: right;
  background-color: var(--firstia);
  min-height: 75vh;
  height: 75%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1200px) {
  .caja {
    background-image: url("/img/tremendo-background.png");
    background-repeat: no-repeat;
    background-size: 90%;
    background-attachment: fixed;
    background-position-y: 80%;
    background-position-x: 100%;
    background-color: var(--firstia);
    min-height: 75vh;
    height: 75%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .caja {
    background-image: url("/img/tremendo-background.png");
    background-repeat: no-repeat;
    background-size: 110%;
    background-attachment: fixed;
    background-position-y: 80%;
    background-position-x: 100%;
    background-color: var(--firstia);
    min-height: 75vh;
    height: 75%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 426px) {
  .caja {
    background-image: url("/img/tremendo-background.png");
    background-repeat: no-repeat;
    background-size: 110%;
    background-attachment: fixed;
    background-position-y: 80%;
    background-position-x: 70%;
    background-color: var(--firstia);
    min-height: 75vh;
    height: 75%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
