:root {
  --firstia: #424a55;
  --firstia-dark: #1b1e25;
  --firstia-light: #686f77;
  --firstia-transparent: #424a5562;
  --firstia-dark-transparent: #1b1e257f;
  --firstia-light-transparent: #686f7766;
  --secondil: #ed5564;
  --secondil-dark: #d54c5b;
  --secondil-light: #f07782;
  --thirdrema: #e7e9ec;
  --thirdrema-dark: #cfd0d4;
  --thirdrema-light: #eaedf1;
}
