@import "../../palette/palette.css";
.body-container {
  margin: 0;
  padding: 0;
  background-image: url("/img/background-image.png");
  background-repeat: no-repeat;
  background-size: 30%;
  background-position-y: bottom;
  background-position-x: right;
  background-color: var(--firstia);
  min-height: 75vh;
}

.card-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  background: linear-gradient(
    to right bottom,
    var(--firstia-light-transparent),
    var(--firstia-transparent),
    var(--firstia-dark-transparent)
  ) !important;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-top: 1px solid var(--thirdrema-light);
  border-left: 1px solid var(--thirdrema-light);
  border-radius: 1rem !important;
  color: var(--thirdrema) !important;
  margin: 15px;
}
.price-stock {
  color: var(--firstia-dark);
}
.caja {
  background-image: url("/img/tremendo-background.png");
  background-repeat: no-repeat;
  background-size: 65%;
  background-attachment: fixed;
  background-position-y: 80%;
  background-position-x: right;
  background-color: var(--firstia);
  min-height: 75vh;
  height: 75%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}